# 参考 https://github.com/ruanyf/weather-action

name: 'GitHub Actions Weather Bot'

on:
  push:
  schedule:
    - cron: '0 21 * * *'

jobs:
  bot:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout codes'
        uses: actions/checkout@v1
      - name: 'Get Weather'
        run: bash ./weather.sh
      - name: 'Get Date'
        run: echo "REPORT_DATE=$(TZ=':Asia/Shanghai' date '+%Y-%m-%d %T')" >> $GITHUB_ENV
      - name: 'Send mail'
        uses: dawidd6/action-send-mail@master
        with:
          server_address: smtp.163.com
          server_port: 465
          username: 13526636962@163.com
          password: ${{ secrets.EMAIL163_PWD }}
          subject: 天气预报 Report (${{env.REPORT_DATE}})
          html_body: file://result.html
          to: 897379293@qq.com
          from: GitHub Actions
          attachments: attachments.zip,git.diff